<div class="contenerdor">
    <div id="formulario">
        <h1>Registro</h1>
        <form form [formGroup] = "formulario" (ngSubmit)="guardar()">
            <label for="nombre">Nombre</label><br>
            <input type="text" id="name" formControlName="nombre"><br>
    
            <label for="apellido">Apellido</label><br>
            <input type="text" id="apellido" formControlName="apellido"><br>
            <label for="edad">Edad </label><br>
            <input type="text" id="edad" formControlName="edad"><br>
            <label for="area">Area</label><br>
            <input type="text" id="area" formControlName="area"><br>
    
            <label for="salario">Salario</label><br>
            <input type="number" id="salario" formControlName="salario"><br>
            
            <input type="submit" value="Enviar">
        </form>
    </div>

    <div>
        <button [routerLink]="['/listado']"> Ver </button>
    </div>