<div class="contenedores" id="tabla">
    <div>
        <button [routerLink]="['/inicio']">Regresar </button>
        <h2>Listado de Trabajadores</h2>
    </div>
    
    <div id="tabla">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Area</th>
                <th>Sueldo</th>
            </tr>
            
            </tbody>
        </table>
    </div>

    <div>
        <button (click)="borrar()">Borrar</button>
    </div>
</div>